<main>
  <div id="project-create-bg">
    <form class="project-create">
      <input type="text" name="name" placeholder="Project Name" required />
      <input type="text" name="git-link" placeholder="Github Link" required />
      <input
        type="text"
        name="project-preview"
        placeholder="Preview Name"
        required
      />
      <input type="text" name="figma-link" placeholder="Figma Link" />
      <div>
        <div></div>
        <input type="text" list="tools" placeholder="HTML" />
      </div>
      <input type="submit" value="Done" />
    </form>
  </div>

  <div id="projects">
    <datalist id="tools">
      <% tools.forEach((toolname)=> { %>
      <option value="<%- toolname %>"></option>
      <% }); %>
    </datalist>
    <% projects.forEach((project)=> { %>
    <div class="project" draggable="true" id="<%- project._id %>" data-key="<%- project.key %>">
      <div class="project-view">
        <div class="project-name"><%- project.name %></div>
        <div>
          <img
            src="../../img/refresh.png"
            alt="Refresh Project"
            class="refresh-project"
          />
          <img
            src="../../img/edit.png"
            alt="Edit Project"
            class="edit-project"
          />
          <img
            src="../../img/delete.png"
            alt="Delete Project"
            class="delete-project"
          />
        </div>
      </div>
      <form class="project-edit">
        <input type="text" name="name" placeholder="Project Name" value="<%- project.name %>"/>
        <input type="text" name="git-link" placeholder="Github Link" value="<%- project.url %>" />
        <input type="text" name="project-preview" placeholder="Preview Name" value="<%- project.preview %>"/>
        <input type="text" name="figma-link" placeholder="figma Link" value="<%- project.figma %>" />
        <div>
          <div tabindex="1">
            <% project.tools.forEach((tool)=> { %>
              <span><%- tool %></span>
            <% }); %>
          </div>
          <input type="text" list="tools" placeholder="HTML" />
        </div>
        <input type="submit" value="Done" />
      </form>
    </div>
    <% }); %>
  </div>
</main>
<footer>+</footer>

<dialog>
  <p>Are you sure you want to delete this project?</p>
  <div>
    <form method="dialog">
      <button>No</button>
      <button id="delete-project">Yes</button>
    </form>
  </div>
</dialog>